/*
importing the font for this website
*/
@font-face {
  font-family: 'Average-Sans';
  src: local("Average-Sans"),
    url('./fonts/AverageSans.ttf') format('truetype');
}

/* applying it globally */
* {
  font-size: 100%;
  font-family: Average-Sans;
}

.main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-text {
  text-align: center;
  white-space: pre-wrap;
  font-size: 72px;
}